nav
  .logo Luster
.container
  //- h1 We do Mobile Web

  :markdown

    ##We Build Mobile Web Apps

    Need someone to build you a high-performance web app that's indestinguishable
    from native?  We know the limits of the mobile web, because we're testing them
    every day.  We have the know-how to build cutting edge experiences that are both
    state of the art, and perform well for your entire target audience.

    ##We Make Mobile Web Apps Fast

    Need help making your existing mobile web app's interactions silky smooth?
    We're experts in performance testing and auditing.  We can find the bottlenecks
    in your current app, and help you figure out the best way to improve the
    performance of your app.

    ## In NYC and Want to get Coffee?

    Hit us up, we'd love to hear about your startup, open source project, or
    just shoot the breeze.

  .button-group
    a.button.get-in-touch(href="mailto:zach@luster.io") Get in touch!
