doctype
html
  head
    link(rel="stylesheet" href="/main.css")
  body
    nav
      .logo Luster
      a.impulse(href="http://impulse.luster.io") Impulse
      a.impulse(href="http://blog.luster.io") Blog

    != yield