.container
  h1 Mobile Web Checklist
  .authors Zach Smith [@coderzach](http://twitter.com/coderzach) and Eugene Butler [@ebutleriv](http://twitter.com/ebutleriv)
  .date 9.23.14
  .post!= partial("../mobile-web-checklist")